absl-py==0.9.0
alabaster==0.7.12
anaconda-client==1.7.2
anaconda-navigator==1.9.7
analytics-python==1.2.9
argh==0.26.2
argon2-cffi @ file:///C:/ci/argon2-cffi_1596828549974/work
asgiref==3.3.1
astor==0.8.0
astroid @ file:///C:/ci/astroid_1592481955828/work
astunparse==1.6.3
atomicwrites==1.4.0
attrs==19.3.0
autopep8 @ file:///tmp/build/80754af9/autopep8_1592412889138/work
Babel==2.8.0
backcall==0.2.0
backoff==1.10.0
backports.functools-lru-cache==1.6.1
backports.tempfile==1.0
backports.weakref==1.0.post1
bcrypt==3.1.7
beautifulsoup4==4.9.1
billiard==3.6.3.0
bleach==3.1.5
blinker==1.4
brewer2mpl==1.4.1
brotlipy==0.7.0
bs4==0.0.1
cachetools==4.1.0
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
chart-studio==1.0.0
click==7.1.2
cloudpickle==1.4.1
clyent==1.2.2
coala-utils==0.5.1
colorama==0.4.3
colorlover==0.3.0
conda==4.8.4
conda-build==3.18.9
conda-package-handling==1.7.0
conda-verify==3.4.2
cryptography==2.9.2
cssselect==1.1.0
cufflinks==0.17.3
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
diff-match-patch==20181111
Django==3.1.3
docutils==0.16
emnist==0.0
entrypoints==0.3
filelock==3.0.12
flake8==3.8.3
Flask==1.1.2
future==0.18.2
gast==0.3.3
geocoder==1.38.1
geographiclib==1.50
geopy==1.22.0
GetOldTweets3==0.0.11
ggplot==0.11.5
glob2==0.7
google-auth==1.14.1
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
GPUtil==1.4.0
gradio==1.0.0
grpcio==1.27.2
h5py==2.10.0
idna @ file:///tmp/build/80754af9/idna_1593446292537/work
idx2numpy==1.2.2
imageio==2.9.0
imagesize==1.2.0
importlib-metadata @ file:///C:/ci/importlib-metadata_1593446525189/work
intervaltree==3.0.2
ipykernel==5.3.0
ipython @ file:///C:/ci/ipython_1593433781269/work
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
jedi==0.15.2
Jinja2==2.11.2
joblib==0.15.1
json5==0.9.5
jsonschema==3.2.0
jupyter-client==6.1.3
jupyter-core==4.6.3
jupyterlab==2.1.5
jupyterlab-server==1.1.5
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyring @ file:///C:/ci/keyring_1593109817825/work
kiwisolver==1.2.0
krippendorff==0.3.2
lazy-object-proxy==1.4.3
libarchive-c==2.9
lxml==4.5.1
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.1.3
mccabe==0.6.1
menuinst==1.4.16
mistune==0.8.4
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
mysql-connector-python==8.0.21
mysqlclient @ file:///C:/Users/bhagyashri/Downloads/mysqlclient-1.4.6-cp37-cp37m-win_amd64.whl
navigator-updater==0.2.1
nbconvert==5.6.1
nbformat==5.0.7
networkx==2.4
nltk==3.2.4
notebook==6.1.3
numpy==1.18.5
numpydoc==1.0.0
oauthlib==3.1.0
olefile==0.46
opencage==1.2.1
opencv-python==4.2.0.34
opt-einsum==3.1.0
packaging==20.4
pandas==1.0.3
pandas-datareader==0.8.1
pandocfilters==1.4.2
paramiko==2.7.1
parse==1.15.0
parso==0.5.2
pathtools==0.1.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.1.2
pkginfo==1.5.0.1
plotly==4.5.4
pluggy==0.13.1
preprocessing==0.1.13
preprocessor==1.1.3
prometheus-client==0.8.0
prompt-toolkit==3.0.5
protobuf==3.12.3
psutil==5.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycodestyle==2.6.0
pycosat==0.6.3
pycparser==2.20
pydocstyle @ file:///tmp/build/80754af9/pydocstyle_1592848020240/work
pyflakes==2.2.0
pyforest==1.0.2
Pygments==2.6.1
PyJWT==1.7.1
pylint @ file:///C:/ci/pylint_1592487534522/work
PyNaCl @ file:///C:/ci/pynacl_1593121837095/work
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyquery==1.4.1
pyreadline==2.1
pyrsistent==0.16.0
PySocks==1.7.1
python-dateutil==2.8.1
python-jsonrpc-server==0.3.4
python-language-server==0.31.9
python-mnist==0.7
pytz==2020.1
PyWavelets==1.1.1
pywin32==227
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==19.0.1
QDarkStyle==2.8.1
QtAwesome==0.7.2
qtconsole @ file:///tmp/build/80754af9/qtconsole_1592848611704/work
QtPy==1.9.0
ratelim==0.1.6
requests @ file:///tmp/build/80754af9/requests_1592841827918/work
requests-oauthlib==1.3.0
retrying==1.3.3
rope==0.17.0
rsa==4.0
Rtree==0.9.4
ruamel-yaml==0.15.87
scikit-image==0.17.2
scikit-learn==0.22.2
scipy==1.4.1
seaborn==0.11.0
Send2Trash==1.5.0
sentencepiece==0.1.91
six==1.15.0
sklearn==0.0
snowballstemmer==2.0.0
sortedcontainers==2.2.2
soupsieve==2.0.1
Sphinx @ file:///tmp/build/80754af9/sphinx_1592842202926/work
sphinx-rtd-theme==0.2.4
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
spyder==4.1.3
spyder-kernels==1.9.1
sqlparse==0.4.1
tensorboard==2.2.1
tensorboard-plugin-wit==1.6.0
tensorflow==2.1.0
tensorflow-estimator==2.1.0
tensorflow-gpu==2.2.0
tensorflow-gpu-estimator==2.2.0
tensorflow-hub==0.8.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
tf-sentencepiece==0.1.3
threadpoolctl==2.1.0
tifffile==2020.7.4
toml @ file:///tmp/build/80754af9/toml_1592853716807/work
tornado==5.1.1
tqdm @ file:///tmp/build/80754af9/tqdm_1593446365756/work
traitlets==4.3.3
tweepy==3.8.0
twitterscraper==1.4.0
typed-ast==1.4.1
ujson==1.35
urllib3==1.25.9
watchdog @ file:///C:/ci/watchdog_1593446515400/work
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
Werkzeug==0.16.1
widgetsnbextension==3.5.1
win-inet-pton==1.1.0
wincertstore==0.2
wordcloud==1.7.0
wrapt==1.11.2
yapf @ file:///tmp/build/80754af9/yapf_1593528177422/work
youtube-dl==2020.11.24
youtube-transcript-api==0.3.1
zipp==3.1.0
